// Accordion Default
//
// Markup:
//<div>
//	<h3 class="cf js-toggle">Accordion</h3>
//	<div class="js-toggle-content"
//		Accordion content
//	</div>
//</div>
//
// Styleguide 1.1


// Accordion Open
//
// Markup:
//<div>
//	<h3 class="cf js-toggle js-toggle-active">Accordion</h3>
//	<div class="js-toggle-content"
//		Accordion content
//	</div>
//</div>
//
// Styleguide 1.2
