.site-footer {
	background-color:$secondary-color;
	border-top:10px solid $primary-color;
	color:lighten($secondary-color, 50%);
	margin:lh(1) auto 0 auto;
	padding:lh(1);
	width:100%;
	@include respond-min(60em) {
		margin:lh(2) auto 0 auto;
		padding:lh(1) 0;
		}
	}
	
.wrap-footer {
	@include respond-min(60em) {
		margin:0 auto;
		max-width:1200px;
		width:100%;
		}
	}
	
	
	
