/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
	}
	
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
		-webkit-box-shadow: 0 0 5px $primary-color;
		-moz-box-shadow: 0 0 5px $primary-color;
		box-shadow: 0 0 5px $primary-color;
		border-color: $primary-color;;
		}
	
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	background: #fafafa;
	border-color: #999999;
	outline: none; 
	}
	
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
    background-color: #dddddd;
	}



.form {
	background-color:#fff;
	margin-bottom:lh();
	margin-top:lh();
	
	@include respond-min(48em) {
		.error {
			display:block;
			}
		}
		
	legend {
		background-color:$grey;
		margin:0 0 lh(.5) 0;
		padding:lh(.5) lh(.75);
		width:100%;
		@include respond-min(48em) {
			padding:lh(.5) lh(1);
			}
		}
		
	label {
		color:$dark-grey-1;
		display:block;
		padding:lh(.1) 0;
		}
	
	input[type="text"],
	input[type="password"], 
	input[type=checkbox],
	select,
	textarea {
		display:block;
		margin:lh(.25) 0 lh(.75) 0;
		padding:lh(.5);
		width:100%;
		}
		
	input[type=checkbox] {
		width:auto;
		}
		
	textarea {
		font-family:$font-family;
		}
		
	.error {
		color:$red;
		}
		
	input.error {
		border-color:$red;
		color:#444;
		background-color: #f2dede;
		}
		

	}
	
	
.form-filter {
	font-size:rem(13px);
	label {
		padding:0;
		@include respond-min(48em) {
			border-bottom:none;
			padding:0;
			}
		}
	b {
		width:auto;
		}
	}
	
.form-inline {
	label {
		border-bottom:none;
		margin:0 lh(.33) lh(.33) 0;
		padding:0;
		width:100%;
		@include respond-min(48em) {
			float:left;
			margin:0 lh(1) 0 0;
			padding:lh(.33) 0 0 0;
			width:auto;
			}
		}
	input[type="text"],
	input[type="password"],  
	select,
	textarea {
		float:left;
		margin:0 lh(.33) 0 0 ;
		width:80%;
		@include respond-min(48em) {
			float:left;
			margin:0 lh(.33) 0 0;
			min-width:33%;
			width:auto;
			}
		}
	.btn {
		padding: 0.75em;
		}
	}

	