#kss-node {
	border-top: 0;
	}
	
#kss-node .kss-doc-title {
	color: $mid-grey-1;
	}
	
#kss-node .kss-title .kss-ref {
    color: $mid-grey-1;
	}
	
#kss-node .kss-depth-1 .kss-title, 
#kss-node .kss-overview > h1:first-child {
	border-bottom: 2px solid $mid-grey-1;
	}
	
#kss-node .kss-menu > .kss-menu-item > a > .kss-ref {
	color: $mid-grey-1;
	}
	
#kss-node .kss-menu > .kss-menu-item.kss-active > a {
	border-bottom-color: $dark-grey-1;
	}
	
#kss-node .kss-menu > .kss-menu-item {
	font-size: 15px;
	}
	
#kss-node .kss-menu > .kss-menu-item > a {
	font-weight: 300;
	}
	
#kss-node .kss-menu > .kss-menu-item > a:hover {
	color: $dark-grey-3;
	}
	
#kss-node .kss-menu-child > .kss-menu-item > a:hover {
	color: $dark-grey-3;
	}
	
#kss-node .kss-menu-child > .kss-menu-item > a > .kss-ref {
	color: $dark-grey-3;
	}
	
#kss-node .kss-markup pre {
    border-color: #E3E3E3 #E3E3E3 #E3E3E3 $dark-grey-3;
	}