.reveal-modal-bg {
	background: black;
	background: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	left: 0; 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	@include old-ie {
		z-index: 9998;
		}
	}

.reveal-modal {
	background-color: #fff;
	background-color: white;
	border: solid 1px #666666;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	display: none;
	height: auto;
	left: 50%;
	margin-left: -48%;
	padding: lh(1) lh(2);
	position: absolute;
	top: 10px;
	visibility: hidden; 
	width: 96%;
	z-index: 99;
	@include old-ie {
		margin-left: -30%;
		top:60px;
		width: 60%;
		z-index: 9999;
		}
	}

	.reveal-modal .column,
	.reveal-modal .columns {
		min-width: 0; 
		}
	
	.reveal-modal > :first-child {
		margin-top: 0; 
		}

	.reveal-modal > :last-child {
		margin-bottom: 0; 
		}

	.close-reveal-modal {
		color: #aaaaaa;
		cursor: pointer; 
		font-size: 1.375em;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		right: 0.6875em;
		top: 0.5em;
		}

@media only screen and (min-width: 48em) {
	 .reveal-modal {
		padding: 1.875em;
		top: 6.25em; 
		}
	.modal-small {
		margin-left: -15%;
		width: 30%; 
		}
	.modal-medium {
		margin-left: -20%;
		width: 40%; 
		}
	.modal-large {
		margin-left: -30%;
		width: 60%;
		}
	.modal-xlarge {
		margin-left: -35%;
		width: 70%; 
		}
	.modal-expand {
		margin-left: -47.5%;
		width: 95%; 
		} 
	  }
	  
@media print {
  div:not(.reveal-modal) {
    display: none; } 
	}
	
	
	
	