// Standard Life font
//
// <div>
// <p class="">We have our own font called Standard Life font. It is unique to Standard Life. </p><p class="">It is the only font that should be used for headlines, titles, headers, sub heads. It can also work well for short body copy, especially at larger sizes.</p> <p class="tera primary-font">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p><p class="tera">1 2 3 4 5 6 7 8 9 0 , . < > ? ! £ @ & ( )</p>
// </div>
// 
// Styleguide 14.1



// Typographic scale
//
// <p>A suggested typography scale based on traditional typographical measures that will flex according to device size and provides the flexibility to use on any UI element.</p><p> The ability to mix a combination of typeface, size and colour should ensure a consistent and flexible typographic approach across all properties appropriate to the specific requirements.</p>
//
// Markup:
// <div>
//   <p class="tera">Tera</p>
//   <p class="giga">Giga</p>
//   <p class="mega">Mega</p>
//   <p class="alpha">Alpha</p>
//   <p class="beta">Beta</p>
//   <p class="gamma">Gamma</p>
//   <p class="delta">Delta</p>
//   <p class="epsilon">Epsilon</p>
//   <p class="alpha">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
//  <a href="http://typecast.com/blog/a-more-modern-scale-for-web-typography" class="gamma">A More Modern Scale for Web Typography</a>
// </div>
// 
// Styleguide 14.2


// Typographic utilities
//
// To help style..... etc etc etc
//
// Markup:
//
// 
// Styleguide 14.3


@font-face {
	font-family: 'standard_liferegular';
	src: url('../webfonts/standardlife/standardlife-regular-webfont.eot');
	src: url('../webfonts/standardlife/standardlife-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.woff') format('woff'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.ttf') format('truetype'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.svg#standard_liferegular') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
	
@font-face {
	font-family: 'standard_lifebold';
	src: url('../webfonts/standardlife/standardlife-bold-webfont.eot');
	src: url('../webfonts/standardlife/standardlife-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.woff') format('woff'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.ttf') format('truetype'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.svg#standard_lifebold') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face {
    font-family: 'standard_lifeitalic';
    src: url('../webfonts/standardlife/standardlife-italic-webfont.eot');
    src: url('../webfonts/standardlife/standardlife-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/standardlife/standardlife-italic-webfont.woff') format('woff'),
         url('../webfonts/standardlife/standardlife-italic-webfont.ttf') format('truetype'),
         url('../webfonts/standardlife/standardlife-italic-webfont.svg#standard_lifeitalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'standard_lifebold_italic';
    src: url('../webfonts/standardlife/standardlife-bolditalic-webfont.eot');
    src: url('../webfonts/standardlife/standardlife-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/standardlife/standardlife-bolditalic-webfont.woff') format('woff'),
         url('../webfonts/standardlife/standardlife-bolditalic-webfont.ttf') format('truetype'),
         url('../webfonts/standardlife/standardlife-bolditalic-webfont.svg#standard_lifebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	

	
	
.primary-font {
	font-family:$primary-font;
	}
	
.primary-font-bold {
	font-family:$primary-font-bold;
	}
	
.primary-font-italic {
	font-family:$primary-font-italic;
	}
	
.primary-font-bold-italic {
	font-family:$primary-font-bold-italic;
	}

.secondary-font	 {
	font-family:$secondary-font;	
	}

	
/* Modular Scale http://modularscale.com/scale/?px1=16&px2=32&ra1=1.618&ra2=0 */

.tera {
	font-size:rem(32px);
	line-height: 1.05;
	
	@include respond-min(48em) {
		font-size:rem(40px);
		line-height:1.125;
		}
		
	@include respond-min(60em) {
		font-size: rem(48px);
		line-height:1.05
		}
		
	}

.giga { 
	font-size:rem(26px);
	line-height:1.15;
	
	@include respond-min(48em) {
		font-size:rem(32px);
		line-height:1.25;
		}
		
	@include respond-min(60em) {
		font-size:rem(36px);
		line-height:1.25;
		}
	}

.mega { 
	font-size:rem(22px);
	line-height: 1.136;
	
	@include respond-min(48em) {
		font-size:rem(24px);
		line-height:1.25;
		}
		
	@include respond-min(60em) {
		font-size:rem(28px);
		line-height:1.25;
		}
		
	}

.alpha { 
	font-size:rem(18px);
	line-height: 1.1;
	
	@include respond-min(48em) {
		line-height:1.2;
		}
		
	}

.beta {  
	font-size:rem(16px);

	}

.gamma {  
	font-size:rem(14px);
	}	

.delta {  
	font-size:rem(12.4px);
	}

.epsilon {  
	font-size:rem(9.88px);
	}

.zeta {  
	
	}


body {
	font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight:normal;
	}

h1 {
	font-family:$primary-font;
	}

h1,
h2,
h3,	
h4,
h5,
h6 {	
	 font-family:$primary-font;
	 font-weight:normal;
	}
	
p  {
	font-size:rem(16px);
	margin-bottom:lh(.5);
	}

a {
	color:#222;
	text-decoration:none;
	}
	
a:hover, 
a:focus {

	}
		
.run-in {
	font-size:rem(18.7px);
	line-height:lh(.88);
	margin-bottom:lh(.66);
	}

ul, ol {
	margin:0;
	}
	
ul {
	list-style-type:disc;
	}
	
ol{
	list-style-type:decimal;
	}

blockquote {
	border-bottom:1px solid $mid-grey-3;
	font-family:$primary-font;
	font-size:rem(19px);
	margin:lh(1) 0;
	padding:lh(.33) lh(.33) lh(.66) lh(1);
	position:relative;
	}
	
blockquote:before {
	display: block;
	content: "\201C";
	font-size: rem(60px);
	position: absolute;
	left: -20px;
	top: 0;
	}
	
blockquote cite {
	color:$primary-font;
	display: block;
	font-family:$secondary-font;
	font-size: 14px;
	font-style:italic;
	margin-top: 5px;
	}
 
blockquote cite:before {
	content: "\2014 \2009";
	}
	
.blockquote-pull-left {
	@include respond-min(60em) {
		float:left;
		margin-left:perc(-60,700);
		margin-right:lh(.66);
		width:46%;
		}
	}
	
.blockquote-pull-right {
	@include respond-min(60em) {
		float:right;
		margin-right:perc(-60,700);
		margin-left:lh(.66);
		width:46%;
		}
	}

	
.overline_1 {
	background-color:$dark-grey-3;
	height:1px solid;
	margin:lh(.66) auto;
	width:40px;
	}
	
.bold {
	font-weight:bold;
	}
	
.italic {
	font-style:italic;
	}	
	
.uppercase {
	text-transform: uppercase;
	}
	
.letterspace {
	letter-spacing:rem(5px);
	}

.muted, 
a.muted,
.lister a.muted {
	color:$mid-grey-2;
	}	
	
.no-margins {
	margin:0;
	}
	
	

