// Visible
//
//Visibility classes let you show or hide elements based on screen size or device orientation. You can use visibility classes to control which elements 
//
//
// Markup:
//<div class="panel">
//	<p class="show-for-small-only">This text is shown only on a small screen.</p>
//	<p class="show-for-medium-up">This text is shown on medium screens and up.</p>
//	<p class="show-for-medium-only">This text is shown only on a medium screen.</p>
//	<p class="show-for-large-up">This text is shown on large screens and up.</p>
//	<p class="show-for-large-only">This text is shown only on a large screen.</p> 
//	<p class="show-for-xlarge-up">This text is shown on xlarge screens and up.</p>
//	<p class="show-for-xlarge-only">This text is shown only on an xlarge screen.</p>
//</div>
//
// Styleguide 16.1

.show-for-small-only {
	@include respond-min(48em) {
		display: none !important;
		}
	}
		
.show-for-medium-up {
	@include respond-max(47.95em) {
		display: none !important;
		}
	@include respond-min(48em) {
		display: inherit !important;
		}
	}
	
.show-for-medium-only {
	@include respond-max(47.95em) {
		display: none !important;
		}
	@include respond-min(48em) {
		display: inherit !important;
		}
	@include respond-min(60em) {
		display: none !important;
		}	
	}

.show-for-large-up {
	@include respond-max(59.95em) {
		display: none !important;
		}
	}
	
.show-for-large-only {	
	@include respond-max(59.95em) {
		display: none !important;
		}		
	@include respond-min(60em) {
		display: inherit !important;
		}		
	@include respond-min(75em) {
		display: none !important;
		}	
	
	}
	
.show-for-xlarge-up {
	@include respond-max(74.95em) {
		display: none !important;
		}
	}
	
.show-for-xlarge-only {
	@include respond-max(74.95em) {
		display: none !important;
		}
	}

.hide-on-small {
	@include respond-max(48em) {
		@include visuallyhidden;
		}
	}
	
@include respond-min(60em) {
	.hide-on-large {
		@include visuallyhidden;
		}
	}


.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	}
	
	
.hide, 
.toggle {
	display: none;
	}
	
.toggle.show {
	display:block;
	}